.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

/node_modules


infrastructure/base/vars/*
!infrastructure/base/vars/terraform.tfvars
infrastructure/state/vars/*
!infrastructure/state/vars/terraform.tfvars
