@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 230, 12%, 50%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240, 20%, 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 357 66% 45%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --main: 225, 18%, 28%
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Overrides */

/* Mapbox */
.mapboxgl-popup-content {
  @apply !rounded-lg !p-0;
}

.mapboxgl-popup-tip {
  @apply !border-[5px];
}

.mapboxgl-ctrl-bottom-right {
  @apply max-w-[calc(100%_-_min(45%,_580px))];
}

.mapboxgl-ctrl-attrib {
  @apply !px-1 !py-px font-sans font-medium text-white !bg-gray-800/80 text-2xs;
}

.mapboxgl-ctrl-attrib-inner {
  @apply !line-clamp-1;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  @apply !rounded-md;
}

.mapboxgl-ctrl-attrib a {
  @apply !text-white;
}

.mapboxgl-ctrl-attrib-button {
  @apply !static !bg-white/50;
}

/* React Quill Rich editor */
.ql-toolbar.ql-snow {
  @apply border-gray-500 rounded-t-lg !important;
}

.ql-container.ql-snow {
  @apply border-none !important;
}

.ql-editor {
  @apply border border-gray-500 text-sm rounded-b-lg border-t-0 !important;
}

.ql-editor:focus-visible {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-700 !important;
}

.ql-snow .ql-stroke {
  @apply stroke-gray-300 !important;
}

.ql-snow .ql-fill {
  @apply fill-gray-300 !important;
}

.ql-snow .ql-formats button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-700 rounded-md !important;
}

/* These styles are applied to the editor on the network forms
to match the way we display the information on the detail pages
Check lib/utils/markup-renderer renderMarkup function list variant */

.ql-editor p {
  @apply mb-4 block !important;
}

.ql-editor ul {
  @apply list-inside list-disc leading-6 text-white !important;
}

.ql-editor ol {
  @apply list-inside list-decimal leading-6 text-white !important;
}

.ql-editor li {
  @apply mb-2 !important;
}
